  /* General styles for social media icons in .four_circles */
.four_circles a {
    text-decoration: none;
    margin: 0 15px; /* Add spacing between icons */
  }
  
  .four_circles i {
    font-size: 2rem; /* Increase the size of the icons */
    transition: transform 0.3s ease; /* Smooth hover effect */
  }
  
  .four_circles i:hover {
    transform: scale(1.2); /* Slight zoom-in effect on hover */
  }

  .footer{
    background: #000000;
  }
  
  
  /* Desktop*/
  @media only screen and (min-width: 992px) {
      body {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      

      #footer_links  {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          color: white;
          padding: 30px;
          width: 400px;
      }

      #footer_links p a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: normal;
        font-family: 'Roboto', sans-serif;
        padding: 10px;
    }

      #footer_links a:hover {
        font-weight: 900;
        cursor: pointer;
    }

      .four_circles {
          display: flex;
          align-items: center;
          justify-content: center;
            
      }

      .four_circles a {
          width: 40px;
          height: 30px;
      }

      .copyright {
          display: flex;
          justify-content: center;
          align-content: center;
          margin: 30px auto;
          color: #FFFFFF;
          padding-bottom: 30px;
      }
  }

  /* Small mobile devices*/
  @media only screen and (max-width: 600px) {

      body {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      

      #footer_links {
          padding-top: 20px;
      }

      #footer_links a {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          color: rgb(255, 255, 255);
          text-decoration: none;
          padding: 10px;
          margin-left: 20px;
      }

      .four_circles {
          display: flex;
          justify-content: center;
          align-content: center;
          margin: 30px auto;
      }

      .four_circles a {
          width: 70px;
          height: 30px;
      }

      .copyright {
          display: flex;
          justify-content: center;
          align-content: center;
          margin: 30px auto;
          color: #FFFFFF;
          padding-bottom: 30px;
      }
  }

  /* Large Mobile Devices   */
  @media only screen and (min-width: 600px) and (max-width: 767px) {
      body {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      

      #footer_links {
          padding-top: 20px;
      }

      #footer_links a {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          color: rgb(255, 255, 255);
          text-decoration: none;
          padding: 10px;
          margin-left: 20px;
          width: 500px;
      }

      .four_circles {
          display: flex;
          justify-content: center;
          align-content: center;
          margin: 30px auto;
      }

      .four_circles a {
          width: 70px;
          height: 30px;
      }

      .copyright {
          display: flex;
          justify-content: center;
          align-content: center;
          margin: 30px auto;
          color: #FFFFFF;
          padding-bottom: 30px;
      }
  }

  /* Tablets and Small Laptops   */
  @media only screen and (min-width: 768px) and (max-width: 992px) {
      body {

          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
 

      #footer_links {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          color: white;
          padding: 30px;
          width: 500px;
      }

      #footer_links p a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: normal;
        font-family: 'Roboto', sans-serif;
        padding: 10px;
    }

      .four_circles {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          margin-top: -80px;
          position: relative;
          right: 40px;
      }

      .four_circles a {
          width: 40px;
          height: 30px;
      }

      .copyright {
          display: flex;
          justify-content: center;
          align-content: center;
          margin: 30px auto;
          color: #FFFFFF;
          padding-bottom: 30px;
      }
  }